# Django Settings
SECRET_KEY=your-secure-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,.herokuapp.com

# Database Settings (Defaults to SQLite if not provided)
# DATABASE_URL=postgres://user:password@host:port/dbname

# CORS Settings
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
